<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Users Master</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Users Master</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    
                    <div class="card">
                        <div class="card-header">
                            <div>
                                <h3 class="card-title">User Master</h3>
                            </div>
                            <!-- <div class="float-right">
                                <a href="javascript:void(0);" [routerLink]="['/admin/users/master']" class="btn btn-success btn-sm">Add New</a>
                            </div> -->
                        </div>
                        <div class="card-body">
            
                            <!-- /.card-header -->
                            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                                <div class="input-group mb-3">
                                    <label class="form-control">First Name*</label>
                                    <input type="text" class="form-control" placeholder="First name*" formControlName="first_name"
                                        [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                    <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                                        <div *ngIf="f.first_name.errors.required">
                                            first name is required
                                        </div>
                                    </div>
                                </div>
            
                                <div class="input-group mb-3">
                                    <label class="form-control">Last Name</label>
                                    <input type="text" class="form-control" placeholder="Last name" formControlName="last_name" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                    <!-- <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                                          <div *ngIf="f.last_name.errors.required">last name is required</div>
                                          </div> -->
                                </div>
            
                                <div class="input-group mb-3">
                                    <label class="form-control">Email*</label>
                                    <input type="email" class="form-control" placeholder="Email*" formControlName="email"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-envelope"></span>
                                        </div>
                                    </div>
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.email">
                                            Email must be a valid email address
                                        </div>
                                    </div>
                                </div>
            
                                <div class="input-group mb-3">
                                    <label class="form-control">Password</label>
                                    <input type="password" class="form-control" placeholder="Password*" formControlName="password"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                        <div *ngIf="f.password.errors.minlength">
                                            Password must be at least 6 characters
                                        </div>
                                    </div>
                                </div>
            
                                <div class="input-group mb-3">
                                    <label class="form-control">Contact*</label>
                                    <input type="text" class="form-control" placeholder="Contact*" formControlName="contact_number"
                                        [ngClass]="{ 'is-invalid': submitted && f.contact_number.errors }" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-envelope"></span>
                                        </div>
                                    </div>
                                    <div *ngIf="submitted && f.contact_number.errors" class="invalid-feedback">
                                        <div *ngIf="f.contact_number.errors.required">
                                            Contact is required
                                        </div>
                                        <div *ngIf="f.contact_number.errors.minlength">
                                            Contact should be upto 10 characters.
                                        </div>
                                    </div>
                                </div>
            
                                <div class="input-group mb-3">
                                    <label class="form-control">Role*</label>
                                    <select class="form-control" formControlName="role" placeholder="Select Role"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                        <option value="">-SELECT-</option>
                                        <option value="ADMIN">ADMIN</option>
                                        <option value="BLOGGER">BLOGGER</option>
                                        <option value="VISITOR">VISITOR</option>
                                    </select>
            
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
            
                                    <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                                        <div *ngIf="f.role.errors.required">role is required</div>
                                    </div>
                                </div>
            
                                <div class="input-group mb-3">
                                    <label class="form-control">Status*</label>
                                    <select class="form-control" formControlName="status" placeholder="Select Status"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                        <option value="">-SELECT-</option>
                                        <option value="ACTIVE">ACTIVE</option>
                                        <option value="PENDING">PENDING</option>
                                        <option value="BLOCK">BLOCK</option>
                                    </select>
            
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
            
                                    <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                                        <div *ngIf="f.status.errors.required">Status is required</div>
                                    </div>
                                </div>
            
                                <div class="input-group mb-3">
                                    <label class="form-control">Change Profile Image</label>
                                    <input type="file" class="form-control" placeholder="Profile Pic" (change)="onChange($event)"
                                        formControlName="imageLink" />
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="row">
                                    <!-- /.col -->
                                    <div class="col-4">&nbsp;</div>
                                    <div class="col-4">
                                        <button type="submit" class="btn btn-primary btn-block">
                                            Submit
                                        </button>
                                    </div>
                                    <div class="col-4">&nbsp;</div>
                                    <!-- /.col -->
                                </div>
                            </form>
                            <!-- /.card-body -->
            
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">Footer</div>
                        <!-- /.card-footer-->
                    </div>
                <!-- /.card -->

                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->