<form class="form-horizontal" [formGroup]="articleTagsForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
        <label for="inputTitle3" class="col-sm-2 col-form-label">Keywords</label>
        <div class="col-sm-10">
            <textarea formControlName="tags" row="5" cols="25" class="form-control" id="inputEmail3" placeholder="Keywords"></textarea>
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-info">Submit</button>
            &nbsp;
            <a href="javascript:void(0);" routerLink="/articles"
                class="btn btn-default float-right">Article Listing</a>
        </div>
    </div>
</form>